<section class='container'>
    <section class='row'>
      <section class='twelve columns'>
        <h1>New Conversation</h1>
        <p>Signed In As: <%= current_user.email %>
        <%= form_tag conversations_path, method: :post do %>
          <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name), class: 'u-full-width' %>
          <%= text_field_tag :subject, nil, placeholder: 'Subject', class: 'u-full-width' %>
          <%= text_area_tag :body, nil, placeholder: 'Leave a comment', class: 'u-full-width' %>
          <%= submit_tag 'Submit', class: 'button-primary' %>
        <% end %>
      </section>
    </section>
</section>
