<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <section>
    <p><%= receipt.message.sender.name %> commented:</p>
    <p><%= receipt.message.body %></p>
  </section>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <section>
    <%= text_area_tag :body %>
  </section>
  <%= submit_tag 'Submit' %>
<% end %>
